In [10]:
%matplotlib inline

In [30]:
import pandas as pd
import numpy as np


df = pd.read_csv(
    'data/processing/data.csv',
    low_memory=False,
    parse_dates=['issue_date']
)

df.describe()

,loan_amnt,funded_amnt,int_rate,annual_inc,dti,revol_bal,total_pymnt
count,2.260668e+06,2.260668e+06,2.260668e+06,2.260664e+06,2.258957e+06,2.260668e+06,2.260668e+06
mean,1.504693e+04,1.504166e+04,1.309291e+01,7.799243e+04,1.882420e+01,1.665846e+04,1.182403e+04
std,9.190245e+03,9.188413e+03,4.832114e+00,1.126962e+05,1.418333e+01,2.294831e+04,9.889599e+03
min,5.000000e+02,5.000000e+02,5.310000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00
25%,8.000000e+03,8.000000e+03,9.490000e+00,4.600000e+04,1.189000e+01,5.950000e+03,4.272580e+03
50%,1.290000e+04,1.287500e+04,1.262000e+01,6.500000e+04,1.784000e+01,1.132400e+04,9.060870e+03
75%,2.000000e+04,2.000000e+04,1.599000e+01,9.300000e+04,2.449000e+01,2.024600e+04,1.670797e+04
max,4.000000e+04,4.000000e+04,3.099000e+01,1.100000e+08,9.990000e+02,2.904836e+06,6.329688e+04

In [31]:
from tools.helpers import read_json

data = read_json('project_config.json')

for col in data['keep_columns']:
    print(col)

loan_amnt
funded_amnt
term
int_rate
grade
annual_inc
issue_d
dti
revol_bal
total_pymnt
loan_status

In [32]:
# for col in data['keep_columns']:

#     df[col].hist()

df[''].hist()

KeyError: ''

In [ ]:
df.sort_values('issue_date', ascending=True).tail(20)

In [33]:
df['max_date'] = pd.to_datetime(df.issue_date.max())

df.dtypes

loan_amnt               int64
funded_amnt             int64
term                   object
int_rate              float64
grade                  object
annual_inc            float64
issue_d                object
loan_status            object
dti                   float64
revol_bal               int64
total_pymnt           float64
issue_date     datetime64[ns]
max_date       datetime64[ns]
dtype: object

In [41]:
import numpy as np

df['nb_months'] = ((df.max_date - df.issue_date)/np.timedelta64(1, 'M'))
df['nb_months'] = df['nb_months'].astype(int)

df['months'] = (
    (df.max_date - df.issue_date) / np.timedelta64(1, 'M')
).astype(int)

In [42]:
df

,loan_amnt,funded_amnt,term,int_rate,grade,annual_inc,issue_d,loan_status,dti,revol_bal,total_pymnt,issue_date,max_date,nb_months,months
0,2500,2500,36 months,13.56,C,55000.0,Dec-2018,Current,18.24,4341,167.020000,2018-12-01,2018-12-01,0,0
1,30000,30000,60 months,18.94,D,90000.0,Dec-2018,Current,26.52,12315,1507.110000,2018-12-01,2018-12-01,0,0
2,5000,5000,36 months,17.97,D,59280.0,Dec-2018,Current,10.51,4599,353.890000,2018-12-01,2018-12-01,0,0
3,4000,4000,36 months,18.94,D,92000.0,Dec-2018,Current,16.74,5468,286.710000,2018-12-01,2018-12-01,0,0
4,30000,30000,60 months,16.14,C,57250.0,Dec-2018,Current,26.35,829,1423.210000,2018-12-01,2018-12-01,0,0
5,5550,5550,36 months,15.02,C,152500.0,Dec-2018,Current,37.94,53854,377.950000,2018-12-01,2018-12-01,0,0
6,2000,2000,36 months,17.97,D,51000.0,Dec-2018,Current,2.40,0,141.560000,2018-12-01,2018-12-01,0,0
7,6000,6000,36 months,13.56,C,65000.0,Dec-2018,Current,30.10,38476,201.530000,2018-12-01,2018-12-01,0,0
8,5000,5000,36 months,17.97,D,53580.0,Dec-2018,Current,21.16,8018,353.890000,2018-12-01,2018-12-01,0,0
9,6000,6000,36 months,14.47,C,300000.0,Dec-2018,Current,17.43,65950,405.640000,2018-12-01,2018-12-01,0,0
10,5500,5500,36 months,22.35,D,50000.0,Dec-2018,Current,15.94,4529,411.860000,2018-12-01,2018-12-01,0,0
11,28000,28000,60 months,11.31,B,70000.0,Dec-2018,Current,22.01,56152,1199.870000,2018-12-01,2018-12-01,0,0
12,11200,11200,36 months,8.19,A,65000.0,Dec-2018,Current,23.60,8836,696.260000,2018-12-01,2018-12-01,0,0
13,6500,6500,36 months,17.97,D,154000.0,Dec-2018,Current,28.78,23754,460.070000,2018-12-01,2018-12-01,0,0
14,22000,22000,60 months,12.98,B,65000.0,Dec-2018,Current,11.19,134,976.900000,2018-12-01,2018-12-01,0,0
15,3500,3500,36 months,16.14,C,80000.0,Dec-2018,Current,13.63,8952,218.360000,2018-12-01,2018-12-01,0,0
16,7000,7000,36 months,12.98,B,102500.0,Dec-2018,Current,15.20,1057,464.030000,2018-12-01,2018-12-01,0,0
17,25000,25000,60 months,16.91,C,23878.0,Dec-2018,Current,6.26,3044,1204.990000,2018-12-01,2018-12-01,0,0
18,16000,16000,60 months,20.89,D,120000.0,Dec-2018,Current,27.57,18826,835.890000,2018-12-01,2018-12-01,0,0
19,13000,13000,60 months,14.47,C,75000.0,Dec-2018,Current,26.16,15551,595.660000,2018-12-01,2018-12-01,0,0
20,10000,10000,36 months,13.56,C,65000.0,Dec-2018,Current,10.62,9765,668.000000,2018-12-01,2018-12-01,0,0
21,13000,13000,36 months,14.47,C,55000.0,Dec-2018,Current,10.58,13478,878.900000,2018-12-01,2018-12-01,0,0
22,9600,9600,36 months,23.40,E,65000.0,Dec-2018,Current,23.01,10678,728.520000,2018-12-01,2018-12-01,0,0
23,3500,3500,36 months,20.89,D,40000.0,Dec-2018,Current,9.09,1944,257.250000,2018-12-01,2018-12-01,0,0
24,16000,16000,60 months,26.31,E,33000.0,Dec-2018,Current,33.62,22872,928.900000,2018-12-01,2018-12-01,0,0
25,15000,15000,60 months,14.47,C,30000.0,Dec-2018,Current,41.60,20049,687.290000,2018-12-01,2018-12-01,0,0
26,13000,13000,36 months,23.40,E,90000.0,Dec-2018,Current,39.73,52013,986.550000,2018-12-01,2018-12-01,0,0
27,23000,23000,60 months,20.89,D,68107.0,Dec-2018,Current,0.52,976,1201.580000,2018-12-01,2018-12-01,0,0
28,8000,8000,36 months,23.40,E,43000.0,Dec-2018,Current,33.24,9019,607.100000,2018-12-01,2018-12-01,0,0
29,32075,32075,60 months,11.80,B,150000.0,Dec-2018,Current,22.21,19077,1388.980000,2018-12-01,2018-12-01,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260638,30000,30000,36 months,21.45,D,94000.0,Oct-2017,Charged Off,25.76,11287,15589.610000,2017-10-01,2018-12-01,13,13
2260639,21000,21000,36 months,17.09,D,77000.0,Oct-2017,Late (31-120 days),25.47,16679,9762.990000,2017-10-01,2018-12-01,13,13
2260640,20700,20700,60 months,12.62,C,46000.0,Oct-2017,Charged Off,27.05,21794,5122.270000,2017-10-01,2018-12-01,13,13
2260641,15000,15000,60 months,30.75,F,55000.0,Oct-2017,Fully Paid,21.25,2926,16576.734815,2017-10-01,2018-12-01,13,13
2260642,32400,32400,36 months,20.00,D,72000.0,Oct-2017,Current,13.37,14264,19229.760000,2017-10-01,2018-12-01,13,13
2260643,10000,10000,36 months,9.44,B,103510.0,Oct-2017,Fully Paid,28.59,20194,10888.755458,2017-10-01,2018-12-01,13,13
2260644,35000,35000,60 months,30.75,F,78960.0,Oct-2017,Current,19.07,16104,18227.320000,2017-10-01,2018-12-01,13,13
2260645,20000,20000,36 months,13.59,C,70000.0,Oct-2017,Current,14.57,11431,10858.180000,2017-10-01,2018-12-01,13,13
2260646,16000,16000,60 months,18.06,D,50000.0,Oct-2017,Fully Paid,8.28,1393,19082.584959,2017-10-01,2018-12-01,13,13
2260647,10500,10500,36 months,13.59,C,31000.0,Oct-2017,Current,34.00,5993,5700.550000,2017-10-01,2018-12-01,13,13
2260648,32000,32000,60 months,28.72,F,33000.0,Oct-2017,Current,9.31,5643,16337.570000,2017-10-01,2018-12-01,13,13
2260649,35000,35000,36 months,7.97,A,40000.0,Oct-2017,Current,66.19,33319,18075.140000,2017-10-01,2018-12-01,13,13
2260650,10000,10000,60 months,28.72,F,48000.0,Oct-2017,Fully Paid,16.08,5314,13342.702033,2017-10-01,2018-12-01,13,13
2260651,35000,35000,60 months,17.09,D,20736.0,Oct-2017,Current,66.03,14475,13921.280000,2017-10-01,2018-12-01,13,13
2260652,25000,25000,60 months,30.65,F,54778.0,Oct-2017,Fully Paid,12.81,4521,25027.673750,2017-10-01,2018-12-01,13,13
2260653,15000,15000,36 months,10.91,B,60000.0,Oct-2017,Current,18.24,5966,7838.110000,2017-10-01,2018-12-01,13,13
2260654,30000,30000,60 months,17.09,D,80000.0,Oct-2017,Charged Off,23.22,19224,6047.460000,2017-10-01,2018-12-01,13,13
2260655,18000,18000,60 months,30.65,F,77000.0,Oct-2017,Charged Off,8.08,10100,5393.400000,2017-10-01,2018-12-01,13,13
2260656,17950,17950,60 months,30.17,F,53758.0,Oct-2017,Fully Paid,33.24,5959,20803.775467,2017-10-01,2018-12-01,13,13
2260657,19000,19000,60 months,14.08,C,49200.0,Oct-2017,Current,48.22,3878,7071.380000,2017-10-01,2018-12-01,13,13
2260658,15000,15000,60 months,16.02,C,85000.0,Oct-2017,Fully Paid,14.66,6988,16112.317714,2017-10-01,2018-12-01,13,13
2260659,3500,3500,36 months,10.91,B,21000.0,Oct-2017,Current,24.80,3503,1828.920000,2017-10-01,2018-12-01,13,13
2260660,10000,10000,36 months,12.62,C,65000.0,Oct-2017,Current,4.41,11695,5347.900000,2017-10-01,2018-12-01,13,13
2260661,21000,21000,60 months,30.94,G,90000.0,Oct-2017,In Grace Period,26.44,20131,10737.850000,2017-10-01,2018-12-01,13,13
2260662,30000,30000,60 months,30.75,F,100000.0,Oct-2017,Current,22.13,19206,15623.400000,2017-10-01,2018-12-01,13,13
2260663,12000,12000,60 months,14.08,C,58000.0,Oct-2017,Current,20.88,9592,5360.960000,2017-10-01,2018-12-01,13,13
2260664,12000,12000,60 months,25.82,E,30000.0,Oct-2017,Fully Paid,19.28,3497,14499.802172,2017-10-01,2018-12-01,13,13
2260665,10000,10000,36 months,11.99,B,64000.0,Oct-2017,Current,12.96,7094,5306.940000,2017-10-01,2018-12-01,13,13
2260666,12000,12000,60 months,21.45,D,60000.0,Oct-2017,Current,30.82,12927,5207.290000,2017-10-01,2018-12-01,13,13
2260667,16550,16550,60 months,21.45,D,60000.0,Oct-2017,Current,18.40,25760,7355.500000,2017-10-01,2018-12-01,13,13

In [43]:
dfs = df[~(df.months < 36)]

In [46]:
dfs.months.max()

138

In [47]:
dfs.loan_status.unique()

array(['Fully Paid', 'Charged Off', 'Late (31-120 days)', 'Current',
       'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

In [64]:
fully_paid_count = dfs.groupby(['loan_status']).term.count()['Fully Paid']

In [66]:
 dfs.groupby(['loan_status']).term.count()

loan_status
Charged Off                                            151667
Current                                                 58695
Does not meet the credit policy. Status:Charged Off       761
Does not meet the credit policy. Status:Fully Paid       1988
Fully Paid                                             671159
In Grace Period                                           918
Late (16-30 days)                                         316
Late (31-120 days)                                       1936
Name: term, dtype: int64

In [67]:
pct_total_fully_paid = fully_paid_count / (len(dfs.index))

In [68]:
pct_total_fully_paid

0.7562866221941765